ACTION=="add", \
    SUBSYSTEM=="usb", \
    RUN+="/home/rholk/sbin/vmusbautoadd"

ACTION=="remove", \
    SUBSYSTEM=="usb", \
    RUN+="/home/rholk/sbin/vmusbautodel"
