[Unit]
Description=Finish System Sleep
After=suspend.target

[Service]
Type=simple
ExecStart=/home/rholk/sbin/wakeup-acer.sh

[Install]
WantedBy=suspend.target